
# Python venv
**/.venv/

# Node.js dependencies
**/node_modules/

# Python crap
__pycache__/
**/__pycache__/
*.pyc

# Build artifacts
*.tar.gz
*.tgz
**/*.tar.gz
**/*.tgz
ui/dist/

# CDK artifacts
cdk/cdk.out/
cdk/build/
cdk/cdk-outputs.json
